### JetBrains IDE ###
.idea/
*.iml
*.iws
*.ipr
out/

### Gradle ###
.gradle/
build/

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Local Environment ###
.env
src/main/resources/application-local.properties
